<html>
  <head>
    <title> Rocket Taco Control Panel </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <table>
      <tr>
        <td><img src=/icon.png width=40 height=40><td>
        <td><center><h2> Rocket Taco Control Panel </h2></center></td>
      </tr>
    </table>
    <hr/>

    <h3> Status <span class='<%= {"Not Connected" => "badge badge-danger", "Connected" => "badge badge-success"}[status] %>' > <%= status  %> </span> </h3>

    <h3> Settings </h3>
    <form method=GET action=/update>
      <table style="width: 600px" border=0>
        <tr>
          <td> Bot IP or FQDN </td>
          <td>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">http://</span>
              </div>
              <input type="text" class="form-control" name=host value=<%= host %> size=13>
            </td>
          </td>
        </tr>
        <tr>
          <td> Bot Port </td>
          <td><div class="input-group mb-3"> <input class="form-control" name=host_port value=<%= host_port %> /> </div> </td>
        </tr>
        <tr>
          <td> Rocket.Chat Server </td>
          <td>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">http://</span>
              </div>
              <input type="text" class="form-control" name=server value=<%= server %> size=13>
            </td>
          </td>
        </tr>
        <tr>
          <td> Rocket.Chat Port </td>
          <td><div class="input-group mb-3"> <input class="form-control" name=port value=<%= port %> > </div></td>
        </tr>
        <tr>
          <td> Rocket Taco Username </td>
          <td> <div class="input-group mb-3"><input class="form-control" name=user value=<%= user %>> </div></td>
        </tr>
        <tr>
          <td> Rocket Taco Password </td>
          <td><div class="input-group mb-3"> <input class="form-control" type=password name=password value=<%= password %>> </div></td>
        </tr>
      </table>

      <h3> Channels </h3>
      <table style="width: 650px" border=0>
        <% for channel in channels %>
          <%= "<tr>" %>
            <%= "<td> # #{channel[0]} </td>" %>
            <%= "<td> <input name=channels value=#{channel[0]} type=radio> <span class='#{{"Connected" => "badge badge-success", "Not Connected" => "badge badge-danger"}[channel_stat[channel[0]]]}'> #{channel_stat[channel[0]]} </span> </td>" %>
          <%= "</tr>" %>
        <% end %>
        <tr>
          <td colspan=2> <br/><center> <button class="btn btn-primary" type=submit> Update </button> </center> </td>
        </tr>
      </table>
    </form>
    </font>
  </body>
</html>
