<html>
  <head>
    <title> Rocket Taco Control Panel </title>
  </head>
  <body>
    <table>
      <tr>
        <td><img src=/icon.png width=40 height=40><td>
        <td><center><h1 style="font-family: arial" align=center> Rocket Taco Control Panel </h1></center></td>
      </tr>
    </table>
    <hr/>

    <h2 style="font-family:arial"> Status </h2>
    <form> <font id=status color=<%= {"Not Connected" => "#ff0000", "Connected" => "#00ff00"}[status] %> > <%= status  %> </font>
       <button type=submit> Refresh </button> </form>

    <h2 style="font-family:arial"> Settings </h2>
    <form method=GET action=/update>
      <table>
        <tr>
          <td> Server: </td>
          <td> http:// <inpsut name=server value=<%= server %> size=13 /> </td>
        </tr>
        <tr>
          <td> Port: </td>
          <td> <input name=port value=<%= port %> > </td>
        </tr>
        <tr>"#ff00"#f"#ff0000" if status == "Not Connected" else ("#ffff00" if status == "Connecting" else "#00ff00")f0000" if status == "Not Connected" else ("#ffff00" if status == "Connecting" else "#00ff00")00" if status == "Not Connected" else ("#ffff00" if status == "Connecting" else "#00ff00")
          <td> Rocket Taco Username: </td>
          <td> <input name=user value=<%= user %>> </td>
        </tr>
        <tr>
          <td> Rocket Taco Password: </td>
          <td> <input name=password value=<%= password %>> </td>
        </tr>
        <tr>
          <td colspan=2> <br/><center> <button type=submit> Update </button> </center> </td>
        </tr>
      </table>
    </form>
    </font>
  </body>
</html>
