<html>
  <head>
    <title> Rocket Taco Control Panel </title>
  </head>
  <body>
    <table>
      <tr>
        <td><img src=/icon.png width=40 height=40><td>
        <td><center><h1 style="font-family: arial" align=center> Rocket Taco Control Panel </h1></center></td>
      </tr>
    </table>
    <hr/>

    <h2 style="font-family:arial"> Status </h2>
    <form> <font id=status color=<%= {"Not Connected" => "#ff0000", "Connected" => "#00ff00"}[status] %> > <%= status  %> </font>
       <button type=submit> Refresh </button> </form>

    <h2 style="font-family:arial"> Settings </h2>
    <form method=GET action=/update>
      <table style="width: 600px" border=0>
        <tr>
          <td> Bot IP or FQDN </td>
          <td> http:// <input name=host value=<%= host %> size=13 /> </td>
        </tr>
        <tr>
          <td> Bot Port </td>
          <td> <input name=host_port value=<%= host_port %> /> </td>
        </tr>
        <tr>
          <td> Rocket.Chat Server: </td>
          <td> http:// <input name=server value=<%= server %> size=13 /> </td>
        </tr>
        <tr>
          <td> Rocket.Chat Port: </td>
          <td> <input name=port value=<%= port %> > </td>
        </tr>
        <tr>
          <td> Rocket Taco Username: </td>
          <td> <input name=user value=<%= user %>> </td>
        </tr>
        <tr>
          <td> Rocket Taco Password: </td>
          <td> <input name=password value=<%= password %>> </td>
        </tr>
      </table>

      <h2 style="font-family:arial"> Channels </h2>
      <table style="width: 600px" border=0>
        <% for channel in channels %>
          <%= "<tr>" %>
            <%= "<td> # #{channel[0]} </td>" %>
            <%= "<td> <font color=#{{"Not Connected" => "#ff0000", "Connected" => "#00ff00"}[channel_stat[channel[0]]]}> <input name=channels value=#{channel[0]} type=checkbox> #{channel_stat[channel[0]]} </font> </td>" %>
          <%= "</tr>" %>
        <% end %>
        <tr>
          <td colspan=2> <br/><center> <button type=submit> Update </button> </center> </td>
        </tr>
      </table>
    </form>
    </font>
  </body>
</html>
