<html>
<head>
  <title> Rocket Taco Leaderboard </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <center>
    <h2>Leaderboard for #<%= channel %> this <%= timeframe %></h2>
    <hr/>
    <h3> Most Tacos Received </h3>
    <table  class="table table-striped table-sm" style="width: 50%">
      <thead><th scope=col>Rank</th><th scope=col>Name</th><th scope=col>Amount</th></thead>
      <tbody>
        <% count = 1 %>
        <% for row in rlb %>
          <%= "<tr><th scope=row>#{count}</th><td>#{row[0]}</td><td>#{row[1]}</td></tr>" %>
          <% count += 1 %>
        <% end %>
      </tbody>
    </table>
    <h3> Most Tacos Given </h3>
    <table  class="table table-striped table-sm" style="width: 50%">
      <thead><th scope=col>Rank</th><th scope=col>Name</th><th scope=col>Amount</th></thead>
      <tbody>
        <% count = 1 %>
        <% for row in glb %>
          <%= "<tr><th scope=row>#{count}</th><td>#{row[0]}</td><td>#{row[1]}</td></tr>" %>
          <% count += 1 %>
        <% end %>
      </tbody>
    </table>
    <br/><br/>
    <form method=GET action=/leaderboard target="_self">
      <table>
      <tr>
        <td><select name=timeframe class="form-control">
        <option value="day">day</option>
        <option value="week">week</option>
        <option value="month">month</option>
        <option value="year">year</option>
        <option value="century">century</option></td>
        <td><select name=channel class="form-control">
        <option value=GLOBAL>#GLOBAL</option>
        <% for chan in channels %>
          <%= "<option value=#{chan}>##{chan}</option>" %>
        <% end %>
      </select></td>
        <td><center><button type=submit class="btn btn-primary">Refresh</button></center></td>
      </tr>
    </form>
  </center>
</body>
</html>
